# ── DuckDNS ────────────────────────────────────────────────────────────────────
DUCKDNS_SUBDOMAIN=
DUCKDNS_TOKEN=

# ── Pi-hole ────────────────────────────────────────────────────────────────────
PIHOLE_PASSWORD=CHANGE_MOI_pihole

# ── WireGuard ──────────────────────────────────────────────────────────────────
WG_SERVER_URL=ton-domaine.duckdns.org
WG_PEERS=alice,bob,charlie

# ── MariaDB ────────────────────────────────────────────────────────────────────
MARIADB_ROOT_PASSWORD=CHANGE_MOI_root

# ── Pingvin ────────────────────────────────────────────────────────────────────
PINGVIN_PRIVATE_URL=
PINGVIN_HOSTNAME=

# ── Valheim ────────────────────────────────────────────────────────────────────
VALHEIM_SERVER_NAME=minilab-valheim
VALHEIM_WORLD_NAME=minilab
VALHEIM_PASSWORD=CHANGE_MOI_valheim

# ── Cobblemon ──────────────────────────────────────────────────────────────────
COBBLEMON_MOTD=Bienvenue sur le serveur minilab Cobblemon !
COBBLEMON_SERVER_NAME=minilab-cobblemon

# ── Discord Bot (minilab-helper) ───────────────────────────────────────────────
DISCORD_TOKEN=ton_token_bot_discord
DISCORD_OWNER_ID=ton_user_id_discord
