# ── DuckDNS ────────────────────────────────────────────────────────────────────
DUCKDNS_SUBDOMAIN=
DUCKDNS_TOKEN=

# ── Pi-hole ────────────────────────────────────────────────────────────────────
PIHOLE_PASSWORD=CHANGE_MOI_pihole

# ── WireGuard ──────────────────────────────────────────────────────────────────
WG_SERVER_URL=ton-domaine.duckdns.org
WG_PEERS=alice,bob,charlie

# ── MariaDB ────────────────────────────────────────────────────────────────────
MARIADB_ROOT_PASSWORD=CHANGE_MOI_root

# ── Ragnarok Online ────────────────────────────────────────────────────────────
RO_DB_USER=ragnarok
RO_DB_PASSWORD=CHANGE_MOI
RO_DB_NAME=ragnarok
RO_SERVER_NAME=minilab-ro

# ── Valheim ────────────────────────────────────────────────────────────────────
VALHEIM_SERVER_NAME=minilab-valheim
VALHEIM_WORLD_NAME=minilab
VALHEIM_PASSWORD=CHANGE_MOI_valheim

# ── Discord Bot (minilab-helper) ───────────────────────────────────────────────
DISCORD_TOKEN=ton_token_bot_discord
DISCORD_OWNER_ID=ton_user_id_discord
DOCKER_GID=
